<!-- Navbar -->
<!-- Spinner Start -->
<div
  id="spinner"
  *ngIf="showSpinner"
  class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
>
  <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->

<!-- Topbar Start -->
<div class="container-fluid bg-dark text-white-50 py-2 px-0 d-none d-lg-block">
  <div class="row gx-0 align-items-center">
    <div class="col-lg-7 px-5 text-start">
      <div class="h-100 d-inline-flex align-items-center me-4">
        <small class="fa fa-phone-alt me-2"></small>
        <small>+012 345 6789</small>
      </div>
      <div class="h-100 d-inline-flex align-items-center me-4">
        <small class="far fa-envelope-open me-2"></small>
        <small>info@example.com</small>
      </div>
      <div class="h-100 d-inline-flex align-items-center me-4">
        <small class="far fa-clock me-2"></small>
        <small>Mon - Fri : 09 AM - 09 PM</small>
      </div>
    </div>
    <div class="col-lg-5 px-5 text-end">
      <div class="h-100 d-inline-flex align-items-center">
        <a class="text-white-50 ms-4" href=""
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a class="text-white-50 ms-4" href=""><i class="fab fa-twitter"></i></a>
        <a class="text-white-50 ms-4" href=""
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a class="text-white-50 ms-4" href=""
          ><i class="fab fa-instagram"></i
        ></a>
      </div>
    </div>
  </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<nav
  class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5"
>
  <a href="index.html" class="navbar-brand align-items-center">
    <h2 class="m-0">
      <img
        class="img-fluid me-3"
        src="assets/img/icon/insurance.png"
        alt=""
      />Smart Assurance
    </h2>
  </a>
  <button
    type="button"
    class="navbar-toggler"
    data-bs-toggle="collapse"
    data-bs-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav mx-auto bg-light rounded pe-4 py-3 py-lg-0">
      <a href="#" class="nav-item nav-link active" style="font-size: 1.3rem;">Home</a>
      <a href="#about" class="nav-item nav-link" style="font-size: 1.3rem;">About Us</a>
      <a href="#service" class="nav-item nav-link" style="font-size: 1.3rem;">Our Services</a>
      <a href="#contact" class="nav-item nav-link" style="font-size: 1.3rem;">Contact Us</a>
    </div>
  </div>
  
  <!-- If not logged in -->
  <div *ngIf="!isLoggedIn">
    <a (click)="toggleModal()" class="btn btn-primary px-3 d-none d-lg-block">Log in</a>
    <app-login-modal
      [showModal]="isModalOpen"
      (toggleModal)="toggleModal()"
    ></app-login-modal>
  </div>
  <!-- If logged in -->
<div *ngIf="isLoggedIn">
    <!-- Dropdown menu -->
    <div class="dropdown">
      <button
      class="btn btn-transparent dropdown-toggle"
        type="button"
        id="userDropdown"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <!-- Static profile photo -->
        <img
          src="../../../assets/img/user-profile.png"
          alt="Profile Photo"
          class="profile-photo"
          style="width: 40px;"
        />
        <!-- Display the username -->
      </button>
  
      <!-- Dropdown menu content -->
      <div class="dropdown-menu" aria-labelledby="userDropdown">
        <!-- Add any additional dropdown items here -->
        <a class="dropdown-item" href="#">Profile</a>
        <a class="dropdown-item" href="#">Settings</a>
        <a href="clientContract" class="dropdown-item">Client</a>
        <a (click)="connectWallet()"  class="dropdown-item">Connect wallet</a>
        <a (click)="openTransactionDialog('1000ms', '500ms')"  class="dropdown-item">New Insurance</a>
        <div class="dropdown-divider"></div>
  
        <!-- Logout button -->
        <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
  
</nav>
<!-- Navbar End -->

<!-- modal component -->
