<mat-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Personal information</ng-template>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-2">
                        <label for="f_name" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="f_name" formControlName="f_name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-2">
                        <label for="cin" class="form-label">CIN</label>
                        <input type="text" class="form-control" id="cin" formControlName="cin">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-2">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" formControlName="email">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-2">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="tel" class="form-control" id="phone" formControlName="phone">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" formControlName="city">
                </div>
                <div class="col-md-6">
                    <div class="mb-2">
                        <label for="date_of_birth" class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" id="date_of_birth" formControlName="date_of_birth">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="address" class="form-label">Wallet Address</label>
                    <input type="address" class="form-control" id="address" formControlName="address">
                </div>
            </div>

            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Car's information</ng-template>
            <div class="row">
                <div class="col-md-6">
                  <div class="mb-2">
                    <label for="type" class="form-label">Type</label>
                    <input type="text" class="form-control" id="type" formControlName="type">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-2">
                    <label for="matricule" class="form-label">Matricule</label>
                    <input type="text" class="form-control" id="matricule" formControlName="matricule">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-2">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="price" formControlName="price">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-2">
                    <label for="grey_card_number" class="form-label">Grey Card Number</label>
                    <input type="text" class="form-control" id="grey_card_number" formControlName="grey_card_number">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-2">
                    <label for="model" class="form-label">Model</label>
                    <input type="text" class="form-control" id="model" formControlName="model">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-2">
                    <label for="marque" class="form-label">Marque</label>
                    <input type="text" class="form-control" id="marque" formControlName="marque">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-2">
                    <label for="puissanceFiscale" class="form-label">Puissance Fiscale</label>
                    <input type="text" class="form-control" id="puissanceFiscale" formControlName="puissanceFiscale">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-2">
                    <label for="carburant" class="form-label">Carburant</label>
                    <input type="text" class="form-control" id="carburant" formControlName="carburant">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-2">
                    <label for="annee" class="form-label">Annee</label>
                    <input type="number" class="form-control" id="annee" formControlName="annee">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-2">
                    <label for="boiteDeVitesses" class="form-label">Boite de Vitesses</label>
                    <input type="text" class="form-control" id="boiteDeVitesses" formControlName="boiteDeVitesses">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-2">
                    <label for="etatDeVehicule" class="form-label">Etat de Vehicule</label>
                    <input type="text" class="form-control" id="etatDeVehicule" formControlName="etatDeVehicule">
                  </div>
                </div>
              </div>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" errorMessage="Contract is required.">
        <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Contract's suggestion</ng-template>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-2">
                        <label for="contract" class="form-label">Select Contract</label>
                        <select class="form-control" id="contract" formControlName="contract" (change)="onContractSelected()">
                            <option value="" disabled selected>Select a contract</option>
                            <option *ngFor="let contract of contracts" [value]="contract.id">{{ contract.name }}</option>
                          </select>
                      </div>
                </div>
              </div>
              <div *ngIf="selectedContract">
                <p>{{ selectedContract.description }}</p>
              </div>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
        </form>
    </mat-step>
    <mat-step>
            <ng-template matStepLabel>Payment transaction</ng-template>
            <div class="row">
                <div class="col-md-12">
                    <label for="address" class="form-label">Agence Address</label>
                    <input type="text" class="form-control" id="insuranceAddress" [(ngModel)]="insuranceAddress">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="address" class="form-label">Your Wallet Address</label>
                    <input type="text" class="form-control" id="clientAddress" [(ngModel)]="clientAddress">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-2">
                        <mat-form-field floatLabel="always" style="width: 100%;">
                            <mat-label>Amount</mat-label>
                            <input matInput type="number" id="amountToSend" [(ngModel)]="amountToSend" class="example-right-align" placeholder="0" style="width: 100%;">
                            <span matTextPrefix>ETH&nbsp;</span>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="margin-top: 25px;">
                        <a class="btn btn-secondary px-3 d-none d-lg-block" (click)="sendAmountFromClient()">Send Transaction</a>
                    </div>
                </div>
            </div>

            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-stepper>